/***************************************************************************
                  Body
***************************************************************************/
/***************************************************************************
                   Action Bar
***************************************************************************/
/****************************************************************************
               Circle Progress Bar
****************************************************************************/
/****************************************************************************
		Progress Bar
****************************************************************************/
/****************************************************************************
		Processing
****************************************************************************/
/***************************************************************************
                   Buttons
***************************************************************************/
/***************************************************************************
                   Popup
***************************************************************************/
/***************************************************************************
                   Footer
***************************************************************************/
/***************************************************************************
                   Toast Popup
***************************************************************************/
/***************************************************************************
                   Option Popup
***************************************************************************/
/***************************************************************************
                  circular index scrollbar
***************************************************************************/
/***************************************************************************
                  Listview
***************************************************************************/
/****************************************************************************
               Listview with Marquee
****************************************************************************/
/***************************************************************************
                   Checkbox/Radio
***************************************************************************/
/***************************************************************************
						Page Indicator
***************************************************************************/
/****************************************************************************
		Toggle Switch
****************************************************************************/
/***************************************************************************
                   Scroller
***************************************************************************/
/***************************************************************************
                   More options
***************************************************************************/
/************************************************************************/
/*                           fixedUIStyle.less                          */
/************************************************************************/
/* When system font-size is changed, winset size (ex. header, footer, button, etc,
   include font) also changed. But in UX guide, some UI elements should have fixed
   size regardless of system font size.
   So, this less file supports fixed style for some elements.
   - Layout: header, footer, button
   - Popup : popup header, popup footer
   - toggleswitch
   - progress: text for ratio
*/
/***********************************************************************/
/*                         Layout(FIXED)                               */
/***********************************************************************/
/**********************************************************************/
/*                       Popup(FIXED)                                 */
/**********************************************************************/
/**********************************************************************/
/*                      ToggleSwitch(FIXED)                           */
/**********************************************************************/
/**********************************************************************/
/*                      List(FIXED)                                   */
/**********************************************************************/
/************************
Listview
*************************/
/***************************************************************************
                   Common Style

***************************************************************************/
/***************************************************************************
                   Development Tip
  If you want to implement specific css code of circle device,
  you should implement specific code here.
  But when you implement code, you should check duplicate value
  between common/layout.less and this file.
  If you have duplicate value, please change static value to variable value.
***************************************************************************/
body {
	background: rgba(8, 8, 8, 1);
	color: rgba(245, 245, 245, 0.8);
}

.ui-header {
	height: 115px;
	line-height: 36px;
	background-color: transparent;
}

.ui-header .ui-title {
	color: rgba(0, 149, 255, 1);
	text-align: center;
	padding-top: 54px;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.ui-header .ui-title.ui-icon {
	background: none !important;
	padding-left: 1.5rem;
}

.ui-header.ui-header-small {
	height: 88px;
}

.ui-header.ui-header-small .ui-title {
	padding-top: 44px;
}

.ui-header.ui-has-more .ui-title {
	padding-right: 1.5rem;
	-webkit-mask-image: -webkit-linear-gradient(left, #000000 80%, rgba(0, 0, 0, 0)
		95%);
}

.ui-header.ui-has-more .ui-more {
	position: fixed;
	top: 50%;
	right: 0;
	width: 70px;
	height: 70px;
	transform: translate(0, -50%);
}

.ui-header.ui-has-more .ui-more.ui-icon-overflow {
	background-color: #fafafa;
	-webkit-mask-position: 1.8125rem 0.25rem;
	-moz-mask-position: 1.8125rem 0.25rem;
	-ms-mask-position: 1.8125rem 0.25rem;
	-o-mask-position: 1.8125rem 0.25rem;
	mask-position: 1.8125rem 0.25rem;
}

.ui-header.ui-has-more .ui-more.ui-icon-overflow[disabled="disabled"] {
	-webkit-mask-position: 1.8125rem 0.25rem;
	-moz-mask-position: 1.8125rem 0.25rem;
	-ms-mask-position: 1.8125rem 0.25rem;
	-o-mask-position: 1.8125rem 0.25rem;
	mask-position: 1.8125rem 0.25rem;
}

.ui-page {
	background-image: -webkit-radial-gradient(transparent -100%, transparent -90%, rgba(8, 8,
		8, 1) 69%), -webkit-radial-gradient(rgba(0, 149, 255, 1) 71%,
		transparent 0px);
	background-position: 0px 0px, 0px 0px;
}

.ui-page .ui-content {
	text-align: center;
}

.ui-page .ui-footer.ui-bottom-button {
	position: fixed !important;
	bottom: 0;
	z-index: 1000;
	height: 28%;
}

.ui-page .ui-footer.ui-bottom-button .ui-btn {
	left: 50%;
	width: 100%;
	height: 130%;
	position: relative;
	margin: 0;
	padding: 8% 22% 16%;
	background: -webkit-radial-gradient(center, circle cover, rgba(0, 45, 77, 1)
		50%, transparent 50%);
	background-size: 300% 840%;
	background-position: 50% 17%;
	background-repeat: no-repeat;
	-webkit-transition: transform 150ms ease-out;
	-webkit-transform: translate(-50%, 0);
}

.ui-page .ui-footer.ui-bottom-button .ui-btn:active {
	background: -webkit-radial-gradient(center, circle cover, rgba(0, 74, 128, 1)
		50%, transparent 50%);
	background-position: 50% 17%;
	background-repeat: no-repeat;
	background-size: 300% 840%;
	-webkit-transform: translate(-50%, -23%);
}

.ui-page .ui-footer.ui-bottom-button .ui-btn.ui-btn-icon-only::before {
	top: 0;
	-webkit-transform: translate(-50%, 56%);
	-webkit-transition: transform 150ms ease-out;
}
/***************************************************************************
                   Page Scroll
***************************************************************************/
.ui-page.ui-scroll-on {
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	-moz-overflow-scrolling: auto;
	-o-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;
}

.ui-page.ui-scroll-on .ui-content {
	margin-top: 7.625rem;
	padding-bottom: 7.125rem;
	padding-top: 0;
}

.ui-page.ui-scroll-on .ui-header ~ .ui-content {
	margin-top: 0;
}

.ui-page.ui-scroll-on .ui-header ~ .ui-scroller>.ui-content {
	margin-top: 0;
}

.ui-page
.ui-scroll-on
 
.ui-content
 
~
.ui-footer
:not
 
(
.ui-expandable-footer

	
)
{
margin-top
:
 
-5
.3125rem
;


}
/*
 * Common definition for theme
 */
/***************************************************************
   default font size (base font from WRT)
   => small: 13px
   => normal: 17px
   => large: 20px

This is only applied to gear2.
so, we set @font_size_default as 17px on gear2 and it was changed to 16px since gear-S.
This value only used for @rem_base, not for html font-size
html font-size is set by WRT base font-size
***************************************************************/
a {
	color: rgba(245, 245, 245, 0.8);
}
/***************************************************************************
                  toggle switch
***************************************************************************/
.ui-switch-text {
	margin-top: 60px;
	margin-bottom: 48px;
	font-size: 34px;
	padding: 0;
}

.ui-switch-sub-text {
	margin-top: 48px;
	font-size: 26px;
	color: rgba(0, 149, 255, 1);
}

.ui-toggleswitch {
	width: 86px;
	height: 86px;
}

.ui-toggleswitch.ui-toggleswitch-large {
	width: 86px;
	height: 86px;
}

.ui-toggleswitch .ui-switch-input {
	background-color: rgba(245, 245, 245, 0.3);
	-webkit-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_bg_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_bg_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_bg_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_bg_holo_dark.png');
	mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_bg_holo_dark.png');
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	-ms-mask-size: 100% 100%;
	-o-mask-size: 100% 100%;
	mask-size: 100% 100%;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}

.ui-toggleswitch .ui-switch-input::before {
	content: none;
}

.ui-toggleswitch .ui-switch-input:active ~ .ui-switch-activation,
	.ui-toggleswitch .ui-switch-input:active ~ .ui-switch-button {
	background-color: transparent;
}

.ui-toggleswitch .ui-switch-input:active ~ .ui-switch-activation::before,
	.ui-toggleswitch .ui-switch-input:active ~ .ui-switch-button::before {
	background-color: transparent;
}

.ui-toggleswitch .ui-switch-activation, .ui-toggleswitch .ui-switch-button
	{
	width: 100%;
	height: 100%;
	-webkit-mask-image: none;
	background-color: transparent;
	transform: none;
}

.ui-toggleswitch .ui-switch-activation::before, .ui-toggleswitch .ui-switch-button::before
	{
	-webkit-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_on_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_on_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_on_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_on_holo_dark.png');
	mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_on_holo_dark.png');
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
	background-color: rgba(245, 245, 245, 1);
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	-ms-mask-size: 100% 100%;
	-o-mask-size: 100% 100%;
	mask-size: 100% 100%;
	-webkit-mask-position: 0;
	-moz-mask-position: 0;
	-ms-mask-position: 0;
	-o-mask-position: 0;
	mask-position: 0;
}

.ui-toggleswitch .ui-switch-activation::after, .ui-toggleswitch .ui-switch-button::after
	{
	content: "";
	width: 100%;
	height: 100%;
	-webkit-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_off_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_off_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_off_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_off_holo_dark.png');
	mask-image:
		url('images/Controller_icon/On_Off/tw_btn_control_off_holo_dark.png');
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	-ms-mask-size: 100% 100%;
	-o-mask-size: 100% 100%;
	mask-size: 100% 100%;
	-webkit-mask-position: 0;
	-moz-mask-position: 0;
	-ms-mask-position: 0;
	-o-mask-position: 0;
	mask-position: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 300ms;
	-moz-transition: transform 300ms;
	-o-transition: transform 300ms;
	-ms-transition: transform 300ms;
	transition: transform 300ms;
	background-color: rgba(245, 245, 245, 1);
	position: absolute;
	left: 0;
}

.ui-toggleswitch .ui-switch-input:checked {
	background-color: rgba(129, 186, 15, 1);
}

.ui-toggleswitch .ui-switch-input:checked ~ .ui-switch-activation,
	.ui-toggleswitch .ui-switch-input:checked ~ .ui-switch-button {
	width: 100%;
	height: 100%;
	-webkit-mask-image: none;
	background-color: transparent;
	transform: none;
}

.ui-toggleswitch .ui-switch-input:checked ~ .ui-switch-activation::before,
	.ui-toggleswitch .ui-switch-input:checked ~ .ui-switch-button::before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	background-color: rgba(245, 245, 245, 1);
	-webkit-mask-position: 0;
	-moz-mask-position: 0;
	-ms-mask-position: 0;
	-o-mask-position: 0;
	mask-position: 0;
}

.ui-toggleswitch .ui-switch-input:checked ~ .ui-switch-activation::after,
	.ui-toggleswitch .ui-switch-input:checked ~ .ui-switch-button::after {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.ui-toggleswitch .ui-switch-input:checked:active::before {
	background-color: rgba(129, 186, 15, 1);
}

.ui-toggleswitch .ui-switch-input:checked:active ~ .ui-switch-activation,
	.ui-toggleswitch .ui-switch-input:checked:active ~ .ui-switch-button {
	background-color: transparent;
}

.ui-toggleswitch .ui-switch-input:checked:active ~ .ui-switch-activation::before,
	.ui-toggleswitch .ui-switch-input:checked:active ~ .ui-switch-button::before
	{
	background-color: rgba(245, 245, 245, 1);
}
/***************************************************************************
                  popup
***************************************************************************/
.ui-popup {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 0;
	border-radius: 50% 50%;
	background-image: -webkit-radial-gradient(transparent -100%, transparent -90%, rgba(8, 8,
		8, 1) 69%), -webkit-radial-gradient(rgba(0, 149, 255, 1) 71%,
		transparent 0px);
}

.ui-popup ::-webkit-scrollbar {
	display: none;
}

.ui-popup .ui-popup-header {
	text-align: center;
	min-height: 122px;
	background-color: transparent;
	color: rgba(0, 149, 255, 1);
	padding-top: 53px;
	padding-right: 61px;
	padding-bottom: 33px;
	padding-left: 61px;
}

.ui-popup .ui-popup-header+.ui-popup-content {
	padding-top: 26px;
}

.ui-popup .ui-popup-content {
	color: rgba(245, 245, 245, 0.8);
	background-color: transparent;
	padding: 16% 8% 4%;
	text-align: center;
}

.ui-popup .ui-popup-content .ui-listview, .ui-popup .ui-popup-content .ui-inline-listview
	{
	margin: -1.5625rem -3.4375rem -1rem -3.4375rem;
}

.ui-popup.ui-has-side-buttons .ui-popup-content {
	padding-left: 19%;
	padding-right: 19%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn {
	height: 100%;
	width: 26%;
	border: none;
	position: absolute;
	text-indent: -9999px;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn::before {
	content: "";
	-webkit-mask-size: 50px 50px;
	-webkit-mask-repeat: no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n) {
	top: 50%;
	-webkit-transform: translate(0, -50%);
	background: -webkit-radial-gradient(center, circle cover, rgba(0, 45, 77, 1)
		50%, transparent 50%);
	background-repeat: no-repeat;
	background-size: 570% 150%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n)::before {
	top: 50%;
	-webkit-transition: all 150ms ease-out;
	-webkit-transform: translate(0, -50%);
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n):active {
	background: -webkit-radial-gradient(center, circle cover, rgba(0, 149, 255, 0.5)
		50%, transparent 50%);
	background-repeat: no-repeat;
	background-size: 570% 150%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(1) {
	background-position: 83% 50%;
	right: 100%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(1)::before {
	left: 38%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(1):active {
	background-position: 83% 50%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(2) {
	left: 100%;
	background-position: 17% 50%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(2)::before {
	right: 38%;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(2):active {
	background-position: 17% 50%;
}

.ui-popup .ui-popup-footer.ui-bottom-button .ui-btn {
	position: absolute;
	top: 100%;
	left: 50%;
	height: 36%;
	width: 100%;
	border: none;
	padding: 8% 22% 16%;
	background: -webkit-radial-gradient(center, circle cover, rgba(0, 45, 77, 1)
		50%, transparent 50%);
	background-position: 50% 17%;
	background-repeat: no-repeat;
	background-size: 300% 840%;
	-webkit-transition: all 150ms ease-out;
	-webkit-transform: translate(-50%, 0);
}

.ui-popup .ui-popup-footer.ui-bottom-button .ui-btn:active {
	background: -webkit-radial-gradient(center, circle cover, rgba(0, 74, 128, 1)
		50%, transparent 50%);
	background-position: 50% 17%;
	background-repeat: no-repeat;
	background-size: 300% 840%;
}

.ui-popup .ui-popup-footer.ui-bottom-button .ui-btn.ui-btn-icon-only::before
	{
	top: 1.625rem;
	-webkit-transform: translate(-50%, 0);
}

.ui-popup
.ui-popup-active
 
.ui-popup-footer
.ui-side-button
:active
 
.ui-btn
:not

	
(
:active
 
)
{
-webkit-transform
:
 
translate
(0
,
-50%);
}
.ui-popup.ui-popup-active .ui-popup-footer.ui-side-button .ui-btn:nth-child(n)
	{
	-webkit-transition: all 400ms ease-out;
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-side-button .ui-btn:nth-child(n):active
	{
	-webkit-transition: all 150ms ease-out;
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-side-button .ui-btn:nth-child(1)
	{
	-webkit-transform: translate3d(68%, -50%, 0);
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-side-button .ui-btn:nth-child(1):active
	{
	-webkit-transform: translate3d(100%, -50%, 0);
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-side-button .ui-btn:nth-child(2)
	{
	-webkit-transform: translate3d(-68%, -50%, 0);
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-side-button .ui-btn:nth-child(2):active
	{
	-webkit-transform: translate3d(-100%, -50%, 0);
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-bottom-button .ui-btn {
	transform: translate3d(-50%, -77%, 0);
}

.ui-popup.ui-popup-active .ui-popup-footer.ui-bottom-button .ui-btn:active
	{
	transform: translate3d(-50%, -100%, 0);
}
/***********************
Popup Container Scroll
***********************/
.ui-popup.ui-scroll-on:not (.ui-ctxpopup ):not (.ui-popup-toast )
	.ui-popup-content {
	margin-top: 7.625rem;
	margin-bottom: 6.125rem;
	padding-top: 0;
}

.ui-popup.ui-scroll-on:not (.ui-ctxpopup ):not (.ui-popup-toast )
	.ui-popup-header+.ui-popup-content {
	margin-top: 0;
	padding-top: 26px;
}

.ui-popup.ui-scroll-on:not (.ui-ctxpopup ):not (.ui-popup-toast )
	.ui-popup-footer {
	margin-top: -6.125rem;
}
/****************************************
Popup Toast
****************************************/
.ui-popup.ui-popup-toast {
	min-height: 30%;
	border-top: 3px solid rgba(0, 54, 92, 1);
	border-bottom: 3px solid rgba(0, 54, 92, 1);
	margin-bottom: 13%;
	background-color: B068;
	background-image: none;
}

.ui-popup.ui-popup-toast .ui-popup-content {
	background-color: transparent;
	font-size: 32px;
	text-align: center;
	line-height: 42px;
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic {
	border: none;
	background-color: transparent;
	margin-bottom: 1.5rem;
	pointer-events: none;
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic .ui-popup-content {
	color: rgba(0, 149, 255, 1);
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic .ui-popup-toast-icon {
	width: 10.25rem;
	height: 10.25rem;
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic .ui-popup-toast-icon::before
	{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background-color: rgba(0, 45, 77, 1);
	-webkit-mask-image: url('images/Popup/tw_toast_popup_image_bg.png');
	-moz-mask-image: url('images/Popup/tw_toast_popup_image_bg.png');
	-ms-mask-image: url('images/Popup/tw_toast_popup_image_bg.png');
	-o-mask-image: url('images/Popup/tw_toast_popup_image_bg.png');
	mask-image: url('images/Popup/tw_toast_popup_image_bg.png');
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	-ms-mask-size: 100% 100%;
	-o-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic .ui-popup-toast-icon::after
	{
	-webkit-mask-size: 50% 50%;
	-moz-mask-size: 50% 50%;
	-ms-mask-size: 50% 50%;
	-o-mask-size: 50% 50%;
	mask-size: 50% 50%;
}
/***********************
Option Popup
***********************/
.ui-popup.ui-ctxpopup {
	height: auto;
}
/***************************************************************************
				  listview
***************************************************************************/
.ui-listview li {
	font-size: 2.25rem;
	min-height: 8.125rem;
	padding: 1.78125rem 2.5rem;
	border: 0 none;
	border-bottom: 1.5px solid transparent;
	border-image: -webkit-linear-gradient(0deg, transparent, #245b85, transparent)
		1;
	color: rgba(245, 245, 245, 1);
	text-align: center;
	line-height: 4.5625rem;
}

.ui-listview li.ui-listview-divider {
	height: 2.0625rem;
	min-height: 2.0625rem;
	line-height: 1.9375rem;
	background-color: transparent;
	color: rgba(0, 149, 255, 1);
	display: -webkit-flex;
	padding: 0;
}

.ui-listview li.ui-listview-divider::before {
	content: "";
	height: 100%;
	width: auto;
	-webkit-mask-image: url("images/listview/tw_list_sub_line_left.png");
	-moz-mask-image: url("images/listview/tw_list_sub_line_left.png");
	-ms-mask-image: url("images/listview/tw_list_sub_line_left.png");
	-o-mask-image: url("images/listview/tw_list_sub_line_left.png");
	mask-image: url("images/listview/tw_list_sub_line_left.png");
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 2px;
	-moz-mask-size: 100% 2px;
	-ms-mask-size: 100% 2px;
	-o-mask-size: 100% 2px;
	mask-size: 100% 2px;
	-webkit-mask-position: -0.75rem 50%;
	-moz-mask-position: -0.75rem 50%;
	-ms-mask-position: -0.75rem 50%;
	-o-mask-position: -0.75rem 50%;
	mask-position: -0.75rem 50%;
	background: rgba(27, 65, 92, 1);
	-webkit-flex: 1;
}

.ui-listview li.ui-listview-divider::after {
	content: "";
	height: 100%;
	width: auto;
	-webkit-mask-image: url("images/listview/tw_list_sub_line_right.png");
	-moz-mask-image: url("images/listview/tw_list_sub_line_right.png");
	-ms-mask-image: url("images/listview/tw_list_sub_line_right.png");
	-o-mask-image: url("images/listview/tw_list_sub_line_right.png");
	mask-image: url("images/listview/tw_list_sub_line_right.png");
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 2px;
	-moz-mask-size: 100% 2px;
	-ms-mask-size: 100% 2px;
	-o-mask-size: 100% 2px;
	mask-size: 100% 2px;
	-webkit-mask-position: 0.75rem 50%;
	-moz-mask-position: 0.75rem 50%;
	-ms-mask-position: 0.75rem 50%;
	-o-mask-position: 0.75rem 50%;
	mask-position: 0.75rem 50%;
	background: rgba(27, 65, 92, 1);
	-webkit-flex: 1;
}

.ui-listview li.ui-li-btn {
	padding: 0;
}

.ui-listview li.ui-li-btn .ui-btn {
	padding: 2.625rem 2.5rem;
	margin: 0;
	line-height: inherit;
}

.ui-listview li.ui-li-btn.ui-grid-col-2 .ui-btn {
	padding: 1.75rem 1.25rem;
}

.ui-listview li.ui-li-btn.ui-grid-col-3 .ui-btn {
	padding: 1.75rem 1.875rem;
	height: 100%;
	text-indent: -9999px;
}

.ui-listview li>* {
	color: rgba(245, 245, 245, 1);
}

.ui-listview li>a, .ui-listview li button {
	padding: 1.84375rem 2.5rem;
	margin: -1.8125rem -2.5rem;
}

.ui-listview li.ui-li-active {
	background-color: transparent;
	color: rgba(245, 245, 245, 1);
}

.ui-listview li.ui-li-active::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: -webkit-radial-gradient(rgba(0, 149, 255, 0.15) -90%,
		transparent), -webkit-radial-gradient(rgba(245, 245, 245, 0.15) 100%,
		transparent);
	pointer-events: none;
}

.ui-listview li:last-child {
	border: 0;
}

.ui-listview.ui-snap-listview .ui-li-sub-text {
	color: rgba(0, 149, 255, 1);
	font-size: 1.5rem;
}

.ui-listview.ui-snap-listview::before {
	content: "";
	position: fixed;
	width: 96%;
	height: 8.125rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: -webkit-radial-gradient(rgba(0, 149, 255, 0.08) -90%,
		transparent), -webkit-radial-gradient(rgba(245, 245, 245, 0.08) 100%,
		transparent);
	border-radius: 20vw;
	pointer-events: none;
}

.ui-listview.ui-snap-listview li {
	border: none;
}

.ui-listview.ui-snap-listview li.ui-li-active {
	background-color: transparent;
	color: rgba(245, 245, 245, 1);
}

.ui-listview.ui-snap-listview li.ui-li-active::before {
	width: 96%;
	height: 8.125rem;
	border-radius: 20vw;
}
/***************************************************************************
                  listview extra
***************************************************************************/
.ui-listview .ui-li-has-action-icon .ui-action-text::after {
	background-color: rgba(245, 245, 245, 0.8);
}

.ui-listview .ui-li-has-action-icon .ui-action-delete {
	background-color: rgba(0, 149, 255, 1);
}

.ui-listview .ui-li-has-action-icon .ui-action-setting {
	background-color: rgba(0, 149, 255, 1);
}

.ui-listview .ui-li-has-action-icon .ui-action-add {
	background-color: rgba(0, 149, 255, 1);
}

.ui-listview .ui-li-has-action-icon.ui-li-active .ui-action-text:active
	{
	background-color: rgba(8, 56, 94, 1);
	color: rgba(245, 245, 245, 1);
}

.ui-listview .ui-li-has-action-icon .ui-action-delete:active,
	.ui-listview .ui-li-has-action-icon .ui-action-setting:active,
	.ui-listview .ui-li-has-action-icon .ui-action-add:active {
	background-color: rgba(8, 56, 94, 1);
	color: rgba(245, 245, 245, 1);
}

.ui-listview .li-divider {
	height: 2.0625rem;
	min-height: 2.0625rem;
	line-height: 1.9375rem;
	background-color: rgba(27, 65, 92, 1);
	color: rgba(0, 149, 255, 1);
	padding: 0;
}
/***************************************************************************
				  checkbox / radio button
***************************************************************************/
input[type="checkbox"]:not (.ui-switch-input ), input[type="radio"] {
	height: 86px;
	width: 86px;
}

input
[
type
=
"checkbox"
]
:not
 
(
.ui-switch-input
 
)
{
-webkit-mask-image
:
 
none
;

	
background
:
 
-webkit-radial-gradient
(rgba(245
,
245,
245,
0
.3
)
 
67%,
transparent
 
71%,
transparent
)
,
url
("images/Controller_icon/Check/ref_btn_check_holo_dark
.png
")

		
no-repeat
;

	
background-size
:
 
100%
100%;
}
input[type="checkbox"]:not (.ui-switch-input )::before {
	content: "";
	-webkit-mask-image: none;
	background: -webkit-radial-gradient(rgba(129, 186, 15, 1) 67%,
		transparent 71%, transparent);
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}

input[type="checkbox"]:not (.ui-switch-input )::after {
	-webkit-mask-image:
		url('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
	mask-image:
		url('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
	-webkit-mask-repeat: repeat;
	-moz-mask-repeat: repeat;
	-ms-mask-repeat: repeat;
	-o-mask-repeat: repeat;
	mask-repeat: repeat;
	-webkit-mask-position: center bottom;
	-moz-mask-position: center bottom;
	-ms-mask-position: center bottom;
	-o-mask-position: center bottom;
	mask-position: center bottom;
	background-color: rgba(245, 245, 245, 1);
	height: 0;
	-webkit-transition-property: height;
	-moz-transition-property: height;
	-o-transition-property: height;
	-ms-transition-property: height;
	transition-property: height;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	-ms-transition-duration: 500ms;
	transition-duration: 500ms;
	bottom: 0;
	-webkit-mask-size: 100%;
	-moz-mask-size: 100%;
	-ms-mask-size: 100%;
	-o-mask-size: 100%;
	mask-size: 100%;
}

input[type="checkbox"]:not (.ui-switch-input ):checked::before {
	-webkit-animation: checkon 300ms ease-out;
	-moz-animation: checkon 300ms ease-out;
	-ms-animation: checkon 300ms ease-out;
	-o-animation: checkon 300ms ease-out;
	animation: checkon 300ms ease-out;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	-webkit-mask-image: none;
	background: -webkit-radial-gradient(rgba(129, 186, 15, 1) 67%,
		transparent 71%, transparent);
	opacity: 1;
}

input[type="checkbox"]:not (.ui-switch-input ):checked::after {
	height: 100%;
}

input[type="checkbox"]:not (.ui-switch-input ):active {
	background-color: transparent;
}

input[type="checkbox"]:not (.ui-switch-input ):active::after {
	width: 100%;
	height: 0;
}

input[type="checkbox"]:not (.ui-switch-input ):active:checked::before {
	-webkit-mask-image: none;
	background: -webkit-radial-gradient(rgba(129, 186, 15, 1) 67%,
		transparent 71%, transparent);
}

input[type="checkbox"]:not (.ui-switch-input ):active:checked::after {
	background-color: rgba(245, 245, 245, 1);
	height: 100%;
}

@
-webkit-keyframes checkon {from { opacity:0.5;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

100%
{
opacity


:

 

1
.0


;
-webkit-transform


:

 

scale


(1);
-moz-transform


:

 

scale


(1);
-ms-transform


:

 

scale


(1);
-o-transform


:

 

scale


(1);
transform


:

 

scale


(1);
}
}
@
-o-keyframes slideupinreverse {from { opacity:0.5;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

100%
{
opacity


:

 

1
.0


;
-webkit-transform


:

 

scale


(1);
-moz-transform


:

 

scale


(1);
-ms-transform


:

 

scale


(1);
-o-transform


:

 

scale


(1);
transform


:

 

scale


(1);
}
}
@
-ms-keyframes slideupinreverse {from { opacity:0.5;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

100%
{
opacity


:

 

1
.0


;
-webkit-transform


:

 

scale


(1);
-moz-transform


:

 

scale


(1);
-ms-transform


:

 

scale


(1);
-o-transform


:

 

scale


(1);
transform


:

 

scale


(1);
}
}
@
-moz-keyframes slideupinreverse {from { opacity:0.5;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

100%
{
opacity


:

 

1
.0


;
-webkit-transform


:

 

scale


(1);
-moz-transform


:

 

scale


(1);
-ms-transform


:

 

scale


(1);
-o-transform


:

 

scale


(1);
transform


:

 

scale


(1);
}
}
@
keyframes slideupinreverse {from { opacity:0.5;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

100%
{
opacity


:

 

1
.0


;
-webkit-transform


:

 

scale


(1);
-moz-transform


:

 

scale


(1);
-ms-transform


:

 

scale


(1);
-o-transform


:

 

scale


(1);
transform


:

 

scale


(1);
}
}
input[type="radio"] {
	background: -webkit-radial-gradient(transparent, transparent 59%, rgba(199, 199, 199
		, 1) 63%, rgba(199, 199, 199, 1) 68%, transparent 72%, transparent);
	-webkit-mask-image: none;
}

input[type="radio"]::after {
	content: "";
	-webkit-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	background-color: rgba(245, 245, 245, 0.2);
}

input[type="radio"]::before {
	content: "";
	background-color: rgba(129, 186, 15, 1);
	-webkit-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	width: 100%;
	height: 100%;
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	-ms-mask-size: 100% 100%;
	-o-mask-size: 100% 100%;
	mask-size: 100% 100%;
	position: absolute;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 300ms;
	-moz-transition: transform 300ms;
	-o-transition: transform 300ms;
	-ms-transition: transform 300ms;
	transition: transform 300ms;
}

input[type="radio"]:checked::before {
	background-color: rgba(129, 186, 15, 1);
	-webkit-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	z-index: 1;
}

input[type="radio"]:active {
	background-color: transparent;
	-webkit-mask-image: initial;
}

input[type="radio"]:active::after {
	-webkit-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	background-color: rgba(245, 245, 245, 0.2);
}

input[type="radio"]:active:checked::before {
	background-color: rgba(129, 186, 15, 1);
	-webkit-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-moz-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-ms-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	-o-mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
	mask-image:
		url('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
}

input[type="radio"]:active:checked::after {
	content: none;
}
/***************************************************************************
                  button
***************************************************************************/
.ui-default {
	color: rgba(245, 245, 245, 1);
	background-color: rgba(0, 45, 77, 1);
}

a.ui-default:active:hover, .ui-default:enabled:active:hover {
	background-color: rgba(0, 74, 128, 1);
}

.ui-default:enabled:focus {
	background-color: rgba(0, 45, 77, 1);
}

a.ui-default.ui-state-disabled, .ui-default:disabled {
	color: rgba(245, 245, 245, 0.2);
	background-color: rgba(33, 33, 33, 1);
}

.ui-color-red {
	color: rgba(245, 245, 245, 1);
	background-color: rgba(207, 36, 2, 1);
}

a.ui-color-red:active:hover, .ui-color-red:enabled:active:hover {
	background-color: rgba(222, 102, 78, 1);
}

.ui-color-red:enabled:focus {
	background-color: rgba(207, 36, 2, 1);
}

a.ui-color-red.ui-state-disabled, .ui-color-red:disabled {
	color: rgba(245, 245, 245, 0.2);
	background-color: rgba(69, 11, 1, 1);
}

.ui-color-orange {
	color: rgba(245, 245, 245, 1);
	background-color: rgba(237, 134, 0, 1);
}

a.ui-color-orange:active:hover, .ui-color-orange:enabled:active:hover {
	background-color: rgba(242, 171, 78, 1);
}

.ui-color-orange:enabled:focus {
	background-color: rgba(237, 134, 0, 1);
}

a.ui-color-orange.ui-state-disabled, .ui-color-orange:disabled {
	color: rgba(245, 245, 245, 0.2);
	background-color: rgba(69, 39, 5, 1);
}

.ui-color-green {
	color: rgba(245, 245, 245, 1);
	background-color: rgba(97, 163, 16, 1);
}

a.ui-color-green:active:hover, .ui-color-green:enabled:active:hover {
	background-color: rgba(146, 191, 90, 1);
}

.ui-color-green:enabled:focus {
	background-color: rgba(97, 163, 16, 1);
}

a.ui-color-green.ui-state-disabled, .ui-color-green:disabled {
	color: rgba(245, 245, 245, 0.2);
	background-color: rgba(50, 54, 48, 1);
}

.ui-grid-col-1>.ui-btn {
	border-left: solid 1px rgba(8, 8, 8, 1);
}

.ui-grid-col-2>.ui-btn {
	border-left: solid 1px rgba(8, 8, 8, 1);
}

.ui-grid-col-3>.ui-btn {
	border-left: solid 1px rgba(8, 8, 8, 1);
}
/***************************************************************************
                  circle progress bar
***************************************************************************/
.ui-progressbar .ui-progressbar-value .ui-progressbar-value-left {
	border: 0.8125rem solid rgba(0, 149, 255, 1);
}

.ui-progressbar .ui-progressbar-value .ui-progressbar-value-right {
	border: 0.8125rem solid rgba(0, 149, 255, 1);
}

.ui-progressbar .ui-progressbar-bg {
	border: 0.8125rem solid rgba(0, 67, 115, 1);
}

.ui-progressbar.ui-progressbar-small .ui-progressbar-value .ui-progressbar-value-left,
	.ui-progressbar.ui-progressbar-small .ui-progressbar-value .ui-progressbar-value-right
	{
	border: 0.3125rem solid rgba(0, 149, 255, 1);
}

.ui-progressbar.ui-progressbar-small .ui-progressbar-bg {
	border: 0.3125rem solid rgba(0, 67, 115, 1);
}

.ui-indexscrollbar {
	display: none;
}
/***************************************************************************
                  drawer
***************************************************************************/
.ui-drawer {
	background-color: rgba(8, 8, 8, 0.8);
}

.ui-drawer-overlay {
	background-color: rgba(8, 8, 8, 0.8);
}
/***************************************************************************
                  marquee
***************************************************************************/
.ui-marquee.ui-marquee-gradient::after {
	background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 149, 255, 1)
		100%);
}
/****************************************************
		Page Indicator
*****************************************************/
.ui-page-indicator {
	position: absolute;
}

.ui-page-indicator .ui-page-indicator-item {
	width: 0.625rem;
	height: 0.625rem;
	-webkit-mask-image: -webkit-radial-gradient(#000000 0.125rem, transparent 0.25rem);
	background-color: rgba(97, 97, 97, 1);
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	-ms-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.ui-page-indicator .ui-page-indicator-item.ui-page-indicator-active {
	background-color: rgba(245, 245, 245, 1);
}

.ui-page-indicator.ui-page-indicator-linear .ui-page-indicator-item {
	position: relative;
	display: inline-block;
	margin-right: 0.5625rem;
}

.ui-page-indicator.ui-page-indicator-linear .ui-page-indicator-item:last-child
	{
	margin-right: 0;
}

.ui-page-indicator.ui-page-indicator-linear .ui-page-indicator-item.ui-page-indicator-active
	{
	-webkit-transform: scale3d(1.5, 1.5, 1.5);
	-moz-transform: scale3d(1.5, 1.5, 1.5);
	-ms-transform: scale3d(1.5, 1.5, 1.5);
	-o-transform: scale3d(1.5, 1.5, 1.5);
	transform: scale3d(1.5, 1.5, 1.5);
}
/***************************************************************************
                  progress
***************************************************************************/
@
-webkit-keyframes indeterminate { 0% {
	-webkit-mask-image:
		url(images/Progress/tw_progressbar_indeterminate1_holo_dark.png);
	-webkit-mask-repeat: no-repeat;
	background-color: rgba(0, 149, 255, 1);
}

25%
{
-webkit-mask-image


:

 

url


(
images
/Progress/tw_progressbar_indeterminate2_holo_dark


.png


);
-webkit-mask-repeat


:

 

no-repeat


;
background-color


:

 

rgba


(0
,
149,
255,
1);
}
50%
{
-webkit-mask-image


:

 

url


(
images
/Progress/tw_progressbar_indeterminate3_holo_dark


.png


);
-webkit-mask-repeat


:

 

no-repeat


;
background-color


:

 

rgba


(0
,
149,
255,
1);
}
75%
{
-webkit-mask-image


:

 

url


(
images
/Progress/tw_progressbar_indeterminate4_holo_dark


.png


);
-webkit-mask-repeat


:

 

no-repeat


;
background-color


:

 

rgba


(0
,
149,
255,
1);
}
100%
{
-webkit-mask-image


:

 

url


(
images
/Progress/tw_progressbar_indeterminate5_holo_dark


.png


);
-webkit-mask-repeat


:

 

no-repeat


;
background-color


:

 

rgba


(0
,
149,
255,
1);
}
}
progress {
	color: rgba(245, 245, 245, 0.8);
}

progress::-webkit-progress-bar {
	background-color: rgba(0, 67, 115, 1);
}

progress::-webkit-progress-value {
	background-color: rgba(0, 149, 255, 1);
}

progress.ui-progress-indeterminate::-webkit-progress-bar {
	background-color: rgba(0, 149, 255, 1);
}

.ui-scrollbar-bouncing-effect.ui-top {
	display: none;
}

.ui-scrollbar-bouncing-effect.ui-bottom {
	width: 100%;
	height: 6.25rem;
	left: 0;
	-webkit-mask-size: 100% 6.25rem;
}

.ui-scrollbar-bouncing-effect.ui-bottom::before {
	width: 100%;
	height: 6.25rem;
	-webkit-mask-size: 100% 6.25rem;
}

.ui-scrollbar-bouncing-effect.ui-left, .ui-scrollbar-bouncing-effect.ui-right
	{
	width: 6.25rem;
	height: 100%;
	top: 0;
	-webkit-mask-size: 6.25rem 100%;
}

.ui-scrollbar-bouncing-effect.ui-left::before,
	.ui-scrollbar-bouncing-effect.ui-right::before {
	width: 6.25rem;
	height: 100%;
	-webkit-mask-size: 6.25rem 100%;
}

.ui-scrollbar-bouncing-effect.ui-bottom {
	bottom: 0;
	-webkit-mask-image:
		url("images/Scroller/bouncing_circle_bottom_glow.png");
}

.ui-scrollbar-bouncing-effect.ui-bottom::before {
	-webkit-mask-image:
		url("images/Scroller/bouncing_circle_bottom_edge.png");
}

.ui-scrollbar-bouncing-effect.ui-left {
	left: 0;
	-webkit-mask-image: url("images/Scroller/bouncing_circle_left_glow.png");
}

.ui-scrollbar-bouncing-effect.ui-left::before {
	-webkit-mask-image: url("images/Scroller/bouncing_circle_left_edge.png");
}

.ui-scrollbar-bouncing-effect.ui-right {
	right: 0;
	-webkit-mask-image:
		url("images/Scroller/bouncing_circle_right_glow.png");
}

.ui-scrollbar-bouncing-effect.ui-right::before {
	-webkit-mask-image:
		url("images/Scroller/bouncing_circle_right_edge.png");
}
/***************************************************************************
				   Footer Style (New style)
***************************************************************************/
.ui-page .ui-expandable-header {
	height: 115px;
}

.ui-page .ui-expandable-header.ui-header-expand {
	height: 203px;
}

.ui-page .ui-expandable-header.ui-header-expand .ui-title {
	transform: translate3d(0, 142px, 0);
}

.is-circle-test {
	width: 1px;
}